body{
	margin: 0 auto;
	width: 1000px;
	font-family: Arial;

}
label input{
	border-radius: 5px;
	width: 400px;
	height: 20px;
	margin-top: 10px;
}
label textarea{
	border-radius: 5px;
	width: 400px;
	height: 30px;
	margin-top: 10px;
}
fieldset{
	width: 40%;
	border: 3px solid;
	border-style: double;
	padding: 10px;
}
table{
	margin-top: 20px;
}
th{
	background-color: blue;
	width: 430px;
	text-align: left;
}
td{
	border-bottom: 1px black solid;
}
fieldset input[type = radio]{
	width: 20px;
	height: 15px;
}
.fiel{
	width: 380px;
	margin-top: 20px;
}
input[type = checkbox]{
	width: 20px;
	height: 15px;
}
fieldset input[type = submit]{
	float: right;
}
h1{
	margin-left: 40px;
}